#myHeader {
background-color: #fff;

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container> div {
    color: #000000;
    font-family: arial;
    font-size: 30x; 
    text-align: center;
    width: 20px;
    padding: 10px; 
    margin: 10px; 
    line-height: 40px; 
}
}

#google_logo {

}
